.slick-dots li.slick-active button:before {
    background-color: var(--gold) !important;
    border-color: var(--gold);
    width: 25px !important;
    transition: .7s; 
    border-radius: 10px !important;
  }
  
  
  .slick-dots li button:before{
    font-size: 0 !important;
    border: 1px solid var(--gray);
    background-color: var(--gray);
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    right: 0 !important;
    left: auto !important;
  }