
@font-face {
  font-family: 'IranSans';
  src: url("./font/IRANSansWeb.woff") format("woff");

  font-weight: normal; }
  @font-face {
  font-family: 'IranSans';
  src: url("./font/IRANSansWeb_UltraLight.woff") format("woff");
  font-weight: 100; }
  @font-face {
  font-family: 'IranSans';
  src: url("./font/IRANSansWeb_Light.woff") format("woff");
  font-weight: 300; }
  @font-face {
  font-family: 'IranSans';
  src: url("./font/IRANSansWeb_Medium.woff") format("woff");
  font-weight: 500; }
  @font-face {
  font-family: 'IranSans';
  src: url("./font/IRANSansWeb_Bold.woff") format("woff");
  font-weight: bold; 
}

:root{
  --dark:#1D2833;
  --danger:#FF0F10;
  --light:#F2F2F2;
  --white:#ffffff;
  --gold:#CDAC81;

}

html,body,#root{
  margin: 0;
  width: 100%;
}

body {
  font-family: 'IranSans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}
